/* .outer-box {
    background-color: white;
    padding: 20px; 
    border: 1px solid black; 
} */

.box {
    width: 300px; 
    background-color: rgb(173, 216, 230); 
    border: 15px solid blue; 
    padding: 50px; 
    text-align: center;
    font-size: 16px;
    font-family: Arial, sans-serif;
	margin:20px
}

/* .box p {
    margin: 0; 
} */
